.itemDetailContainerComponent {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 50px
}

.imageGallery {
    width: 100%;
    max-width: 400px;
}

.productImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.productDetails {
    max-width: 600px;
    text-align: center;
}

.productTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.productDescription {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.productPrice {
    font-size: 2rem;
    color: #5bbec0;
    margin-bottom: 20px;
}

.quantityControl {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantityButton {
    background-color: #5bbec0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.quantity {
    font-size: 1.5rem;
    margin: 0 10px;
}

.quantityButton:hover {
    background-color: #4da3a4;
}